{% extends 'layout/edit.twig' %}

{% block header %}
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var bundle = "{{ bundle }}";
        var file = "{{ file }}";
        {% if displayId != null %}
        var displayId = {{ displayId }};
        {% else %}
        var displayId = null;
        {% endif %}
    </script>
    <style>
        label {
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="imageLayer" class="ui modal">
        <div class="header">{{ t("admin.editSlide.insertImage") }}</div>
        <div id="dropzone" class="scrolling content">
            <div class="ui info message">{{ t("admin.editSlide.dropToUpload") }}</div>
            <div id="imageList" class="ui three stackable cards">

            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">{{ t("actions.cancel") }}</div>
        </div>
    </div>

    <div class="ui menu">
        <div class="item">
            <div class="ui inverted buttons">
                <a href="#" onclick="addHeader('header')" class="ui basic icon button"><i
                            class="ui heading icon"></i></a>
                <a href="#" onclick="addText('paragraph text')" class="ui basic icon button"><i
                            class="ui paragraph icon"></i></a>
                <a href="#" onclick="openImageBrowser()" class="ui basic icon button"><i
                            class="ui image icon"></i></a>
            </div>
        </div>
        <div class="item">
            <a href="#" onclick="removeSelectedObjects()" class="ui basic  icon button"><i
                        class="ui remove icon"></i></a>
        </div>
        <div class="item">
            <div id="order" class="ui dropdown basic button">
                <div class="default text">{{ t("admin.editSlide.order") }} <i class="dropdown icon"></i></div>
                <div class="menu">
                    <div class="item" data-value="bringToFront">{{ t("admin.editSlide.sendToFront") }}</div>
                    <div class="item" data-value="bringForward">{{ t("admin.editSlide.moveForward") }}</div>
                    <div class="item" data-value="sendBackwards">{{ t("admin.editSlide.moveBackward") }}</div>
                    <div class="item" data-value="sendToBack">{{ t("admin.editSlide.sendToBack") }}</div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ui input">
                <input type="number" id="duration" placeholder="{{ t("navs.duration") }}" min="5"/>
            </div>
        </div>
        <div class="item">
            <div id="override" class="ui checkbox">
                <input id="lbl2" type="checkbox"/>
                <label for="lbl2">{{ t("navs.override") }} </label>
            </div>

            <div id="displaytime" class="ui toggle checkbox">
                <input id="lbl" type="checkbox"/>
                <label for="lbl">{{ t("navs.time") }}</label>
            </div>
        </div>
        <div id="transitions" class="ui dropdown item">
            <div class="ui small breadcrumb">
                <span class="section">{{ t("navs.transition") }}</span>
                <i class="right chevron icon divider"></i>
                <span id="currentTransition" class="section"></span>
            </div>
            <i class="dropdown icon"></i>
        </div>
        <div class="right menu">
            <div class="item">
                <div class="ui buttons">
                    <a href="#" onclick="save()" class="ui green button">{{ t("actions.save") }}</a>
                    {% if displayId != null %}
                        <a href="#" onclick="cueSlide()" class="ui basic teal button">{{ t("actions.announce") }}</a>
                    {% endif %}
                    <a href="#" onclick="window.close()" class="ui red button">{{ t("actions.cancel") }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui basic segment">
        <div id="matchsize">
            <canvas id="edit" width="1280" height="720" style="position: fixed; z-index:10;"></canvas>
            <div id="bg">
                <img id="bgimg" class="fsimage" src=""/>
            </div>
            <video muted loop autoplay id="bgvid2" poster="">
                <source src="" type="video/mp4">
            </video>
            <div id="time2" class="noselect delay animated">00:00</div>
        </div>
    </div>

    <div id="contextmenu" class="ui small vertical menu" style="display: none; position: absolute; z-index: 1000;">
        <a class="item" data-action="copy">
            {{ t("actions.copy") }}
        </a>
        <a class="item" data-action="paste">
            {{ t("actions.paste") }}
        </a>
        <div class="ui dropdown item">
            <i class="dropdown icon"></i>
            {{ t("admin.editSlide.order") }}
            <div class="menu">
                <div class="item" data-action="bringToFront">{{ t("admin.editSlide.sendToFront") }}</div>
                <div class="item" data-action="bringForward">{{ t("admin.editSlide.moveForward") }}</div>
                <div class="item" data-action="sendBackwards">{{ t("admin.editSlide.moveBackward") }}</div>
                <div class="item" data-action="sendToBack">{{ t("admin.editSlide.sendToBack") }}</div>
            </div>
        </div>
        <a class="item" data-action="delete">
            {{ t("actions.delete") }}
        </a>
    </div>
    <canvas id="tempCanvas" width="1280" height="720" style="display: none"></canvas>

    <script>
        var socket = io.connect("{{ config.serverUrl }}:{{ config.serverListenPort }}/admin");
    </script>
    <script src="/js/upload.js"></script>
    <script src="/js/edit.js"></script>
{% endblock %}


