{% for image in bundleImages %}
    <div class="card">
        <div class="image">
            <img src="{{ image.url }}" alt="image">
        </div>
        <div class="content">
            <div class="center aligned header">{{ image.name }}</div>
        </div>
        <div class="extra content">
        {% if replaceMode == 1 %}
            <div class="ui tiny basic button"
                onclick="replaceImage('{{ image.url }}', false);">
                {{ t("actions.replaceImage") }}
            </div>
        {% endif %}
            <div class="ui tiny basic button"
                 onclick="addImage('{{ image.url }}', false);">
                {{ t("actions.insert") }}
            </div>
            <div class="ui tiny basic button" onclick="addImage('{{ image.url }}', true);">
                {{ t("actions.fill") }}
            </div>
            <div class="ui tiny basic negative button"
                 onclick="deleteImage('{{ image.name }}')">{{ t("actions.delete") }}
            </div>
        </div>
    </div>
{% endfor %}